.hero__container {
  margin-top: 30px;
}

.hero__text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  min-height: 534px;
}

.hero__title {
  font-size: 72px;
  font-weight: bold;
  color: #fff;
  line-height: 1.2;
}

.hero__subtitle {
  font-size: 18px;
  color: #eef0f1;
  margin-top: 30px;
}

.hero__btn {
  margin-top: 35px;
}

.hero-services__container {
  padding-bottom: 27px;
}

.hero-services__container .hero__text-content {
  min-height: 290px;
}