.news__list {
  display: flex;
  justify-content: space-between;
  margin-top: 47px;
}

.news__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: calc(100% / 2 - 16px);
  min-height: 391px;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}

.news__item-bg {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 70%;
}

.news__item-desc {
  position: relative;
  padding: 0 29px 48px;
}

.news__item-date {
  font-size: 14px;
  color: #b2b2b2;
}

.news__item-title {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin-top: 10px;
}

.news__item-text {
  font-size: 16px;
  color: #b2b2b2;
  margin-top: 10px;
}

.news__pagination {
  margin-top: 50px;
}