.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination__text {
  color: #fff;
}

.pagination__list {
  display: flex;
  margin-left: 25px;
}

.pagination__item {
  text-align: center;
}

.pagination__item-link {
  display: block;
  color: #fff;
  text-decoration: none;
  width: 32px;
  height: 32px;
  font-weight: bold;
  line-height: 32px;
}

.pagination__item--active, .pagination__item:hover {
  background: #fff;
  border-radius: 50%;
}

.pagination__item--active .pagination__item-link, .pagination__item:hover .pagination__item-link {
  color: #f5170e;
}

